#btnSize{
    margin : 10px;
}

#btnColor{
    margin :10px;
    background-color: black;
    border :1px solid;
    border-color: white;
}

#btnColor2{
    margin :10px;
    background-color: white;
    border :1px solid;
    border-color: black;
}

#btnBuy{
    text-align: center;
    margin-bottom :10px;
    width :100%;
    heigh :20%;
    display: flex;
    justify-content: center;
}
#btnAdd{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom :10px;
    width :100%;
    heigh :20%;
}